:root {
  --main-color: #0090f0;
  --p-color: #7b7b7b;
  --bg-color: #f3f3f3;
  --white-color: #fff;
  --color-heading: #253237;
  --border-color: #d6d6d6d5;
}

.item-details {
  padding: 105px 0 90px;
  background: var(--white-color);
}

.item-details .container {
  max-width: 1320px;
}

.item-details .row {
  width: 100%;
  row-gap: 45px;
}

.item-details .imgs-items {
  width: 100%;
  padding-left: 10px;
}

.item-details .imgs-items .big-img {
  width: 100%;
  max-width: 500px;
  height: 420px;
  margin: 0 auto 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-details .imgs-items .big-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.item-details .imgs-items .sm-img {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  cursor: pointer;
}

.item-details .imgs-items .sm-img img {
  width: 115px;
  height: 115px;
  object-fit: contain;
  transition: 0.3s;
}

.item-details .imgs-items .sm-img img:hover {
  transform: scale(1.08);
}

.item-details .details-item {
  max-width: 650px;
  padding-top: 28px;
  padding-left: 18px;
}

.item-details .details-item .name {
  margin-bottom: 29px;
  color: var(--main-color);
  font-size: 32px;
  font-weight: 700;
  line-height: 1.2;
}

.item-details .details-item .stars {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #ffd22e;
  font-size: 18px;
}

.item-details .details-item .price {
  margin-bottom: 20px;
  color: #666f78;
  font-size: 22px;
  font-weight: 400;
}

.item-details .details-item h5 {
  margin-bottom: 20px;
  color: #111;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.35;
}

.item-details .details-item h5 span {
  color: var(--main-color);
}

.item-details .details-item .desc {
  max-width: 720px;
  margin: 23px 0 22px;
  color: var(--p-color);
  font-size: 17px;
  line-height: 1.45;
}

.item-details .details-item .text-primary {
  margin: 0 0 20px;
  color: var(--main-color) !important;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
}

.item-details .details-item .btn {
  min-width: 146px;
  height: 46px;
  margin-bottom: 20px;
  border-radius: 2px !important;
  padding: 12px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: var(--main-color);
  color: var(--white-color);
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border: 1px solid var(--main-color);
}


.item-details .details-item .btn.inCart{
   background:transparent ! important;
   color: var(--main-color) ! important;
   pointer-events: none;
 }


.item-details .details-item .btn:hover {
  background: #0077c7;
}

.item-details .details-item .btn.inCart {
  background: #253237;
}



@media (max-width: 991px) {
  .item-details {
    padding: 60px 0;
  }

  .item-details .details-item {
    max-width: 100%;
    padding-top: 0;
    padding-left: 0;
  }

  .item-details .imgs-items .big-img {
    height: 330px;
    margin-bottom: 42px;
  }

  .item-details .imgs-items .sm-img {
    gap: 35px;
    flex-wrap: wrap;
  }

  .item-details .imgs-items {
    padding-left: 0;
  }
}

@media (max-width: 575px) {
  .item-details {
    padding: 35px 0 55px;
  }

  .item-details .imgs-items .big-img {
    height: 260px;
    margin-bottom: 28px;
  }

  .item-details .imgs-items .sm-img {
    gap: 18px;
  }

  .item-details .imgs-items .sm-img img {
    width: 82px;
    height: 82px;
  }

  .item-details .details-item {
    padding-top: 10px;
  }

  .item-details .details-item .name {
    font-size: 26px;
    margin-bottom: 22px;
  }

  .item-details .details-item .price {
    font-size: 20px;
  }

  .item-details .details-item h5 {
    font-size: 15px;
  }

  .item-details .details-item .desc {
    font-size: 15px;
  }

  .item-details .details-item .text-primary {
    font-size: 17px;
  }
}

.item-details .details-item .icons {

  display: flex !important;
  flex-direction: row !important;
  gap: 10px;
  transition: 0.3s;

}

.item-details .details-item .icons button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--bg-color);
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}

.item-details .details-item .icons .share:hover,
.item-details .details-item .icons .Heart:hover {
  background-color: var(--main-color);
  color: var(--white-color);
}


/* ProductDetailsLoading */
.Loading-Item .item-details .imgs-items {

  height: 600px;


}

.Loading-Item .item-details .details-item {
  height: 600px;
  padding-top: 100px;

}

.Loading-Item .item-details .details-item h5 {
  margin-bottom: 50px;
  height: 30px;

}

.Loading-Item .item-details .details-item .desc {
  height: 100px;
}

.Loading-Item .item-details .details-item .text-primary {
  height: 20px;
}



 
